/*Cover Page CSS*/
body, html {
    height: 100%;
}

.bg { 
    /* The image used */
    background-image: url("main.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 0.85;
}

.title {
  position: absolute;
  left: 0;
  top: 15%;
  width: 100%;
  font: "Lato", sans-serif;
  text-align: center;
  color: #000;
  font-size: 30px;
  letter-spacing: 10px;
}

.title span.border {
  background-color: #111;
  opacity: 0.75;
  color: #fff;
  padding: 18px;
}

.container {
  background-color: #111;
  width: auto;
  max-width: 300px;
  padding: 5px 15px;
}

.container span.border{
  opacity: 0.75;
  color:#fff;

}

.desc_main {
  position: absolute;
  width: 40%;
  text-align: center;
  color: #000;
}

.desc1 {
  top: 80%;
  left: 2rem;
}

.desc2 {
  top: 80%;
  right: 2rem;
}

.desc3 {
  top: 95%;
  right: 2rem;
}


/* Main
--------------------------------------------------*/

table {
  border-collapse: collapse;
}

th {
  border: 1px solid black;
  padding:5px;
  text-align:center;
}

td {
  border: 1px solid black;
  padding:5px;
  text-align:left;
}

body {
  font-family: Calibri;
}

table.center {
  padding: 1rem 1.5rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

/* Buttons
--------------------------------------------------*/

.picbtn{
  background-color: transparent;
  border:none;
}

.picbtn_left{
  position: absolute;
  top:52%;
}

.nextbtn_right{
  position: absolute;
  width:100px;
  top:50%;
  right:5rem;
  background-color: transparent;
  color: #fff;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 30px;
}

.btn-outline {
  color: #000;
  background-color: #fff;
  border-color: #000;
  border: 2px solid;
  padding: 4px;
}

.btn-outline:hover {
  color:#fff;
  background-color: #5B5B5B;
  border-color: #000;
}

.btn-right {
  display: inline-block;
  //color: #000;
  //background-color: #fff;
  border-color: #000;
  border: none;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
  margin-right: 0;
  padding: 10px;
}

.btn-right span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-right span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn-right:hover span {
  padding-right: 30px;
}

.btn-right:hover span:after {
  opacity: 1;
  right: 0;
}

.btn-left {
  color: #000;
  background-color: #fff;
  border-color: #000;
  border: 2px solid;
  color: black;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-left: 0;
}

.btn-left span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-left span:after {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -2px;
  transition: 0.5s;
}

.btn-left:hover span {
  padding-left: 25px;
}

.btn-left:hover span:after {
  opacity: 1;
  left: 0;
}

