/* Design Rules CSS */
/*headers
*****************/
h2{
  padding:auto;
  margin-top:10px;
  margin-left: 1rem;
  font-size:40px;
}

h3{
  font-size:25px;
}

/* containers
****************/
.divcenter{
  text-align: center;
}

.wrapper{
  display:block;
  overflow-x: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
}

.container{
  margin-left: auto;
  margin-right: auto;
  padding:0px 100px;
  max-width: 700px;
  margin-bottom: 2rem;
}

#tablecontainer{
  margin-top: 0rem;
  max-width: 600px;
}


/* tables 
*****************/
th{
  min-width: 200px;
  border:solid 1px;
  background-color: #fdf6b4;
  text-align:left;
  padding:5px;
}

.leftcol{
  text-align: center;
  font-weight: bold;
}

td{
  min-width: 300px;
  border: 1px solid;
  padding:5px;
  padding-right: 10px;
  text-align:left;
}

table {
  border-collapse: collapse;
}

.table-hover tr:hover td{
  background-color: #fced69;
}

/* lists
****************/
ol li{
  margin-bottom: 15px;
}

ul li{
  margin-bottom: 15px;
}


/* buttons 
**************/

.nextbtn_right{ 
  position: absolute;
  width:350px;
  right:10px;
  background-color: transparent;
  color: #000;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 20px;
}

.nextbtn_left{
  width:100px;
  left:1rem;
  margin-bottom: 1px;
  background-color: transparent;
  color: #000;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 20px;
}