/* Integrated Concepts CSS */

/*headers
*****************/
h2{
  padding:auto;
  margin-top:10px;
  margin-left: 1rem;
  font-size:40px;
}


/* containers
****************/
.divcenter{
  text-align: center;
}

.wrapper{
  display:flex;
  overflow-x: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
}

.container{
}


/* buttons 
**************/
.nextbtn_right{
  position: absolute;
  width:100px;
  top:80%;
  right:5rem;
  background-color: transparent;
  color: #000;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 30px;
}

.nextbtn_left{
  width:100px;
  left:1rem;
  margin-bottom: 1px;
  background-color: transparent;
  color: #000;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 20px;
}