/* User Characteristics CSS */

h2{
	padding:auto;
  margin-top:10px;
	margin-left: 1rem;
  font-size:40px;
}

table{ 
  height:100vh;
  overflow-y: auto;
}

thead{
  border:solid 3px;
  background-color: #fdf6b4;
}

th{
  border:solid 1px;
  background-color: #fef9cd;
  color: #000;
}

tbody{

}

.container_text{
  width: auto;
  max-width: 1000px;
  margin-left:20px;
  margin-bottom: 50px;
}

.container_table{
  width: auto;
  margin-bottom: 10px;
  margin-left:5px;
  overflow-y: auto;
  height: 400px;
}

.divcenter{
  text-align: center;
}


.nextbtn_left{
  width:100px;
  left:1rem;
  margin-bottom: 1px;
  background-color: transparent;
  color: #000;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 20px;
}

.button{
  width:200px;
  background-color: transparent;
  border:none;
  color: #000;
  font-size: 20px;
}

#affinity{
  width: 300px;
  }

#personas{
  width: 300px;
  margin-top:50px;
  margin-left: 50px;
}

/* Table Formatting */
td{
  min-width:125px;
 }
